# Projeto #1 - Análise Exploratória de Dados

Antes de começar, leia as [Instruções](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#instru%C3%A7%C3%B5es) e os [Critérios de Avaliação](https://github.com/thvmm/pos-ds-ia/tree/master/projeto_1#crit%C3%A9rios-de-avalia%C3%A7%C3%A3o)

### 1) **(5%)** Qual a base escolhida e qual seu interesse nela?

Neste projeto, apresento uma análise exploratória de dados realizada no dataset de Registro Digital de Ocorrências da Polícia Militar do Estado de São Paulo nos anos 2013, 2014 e 2015.

A escolha pelo dataset é dada devido ao crescente índice de criminalidade no Brasil. Tendo assim, o objetivo de obter uma mellhor visualização dessas informações, como por exemplo: quais crimes ocorreram com mais frequência em determinada cidade.

A base está disponível em https://www.kaggle.com/inquisitivecrow/crime-data-in-brazil e contém informações de ocorrências nos anos de 2007 a 2016.

**Obs:** A análise proposta trabalha apenas com parte da informação disponibilizada (dados de 2013, 2014 e 2015) pois, para trabalhar com a sua totalidade, seria necessário unir todos os arquivos, onde, boa parte não possui features julgadas como importantes para a análise (como os dados das pessoas envolvidas nas ocorrências).

### 2) **(5%)** Descrição básica do conjunto de dados escolhido pelo aluno (1 parágrafo).
- Identificação da variável a serem trabalhadas
- Classificação das variáveis como: contínua ou discreta.

As variáveis escolhidas para serem trabalhadas são:

- CIDADE (categórica): cidade da ocorrência
- ANO_BO (continua): ano do boletim de ocorrência
- DATA_OCORRENCIA_BO (continua): data de ocorrência
- HORA_OCORRENCIA_BO (continua): horário da ocorrência
- FLAG_STATUS (categórica): informa se o crime foi consumado ou tentado
- RUBRICA (categórica): ato da ocorrência (ex: roubo, furto, lesão corporal...)
- DESCR_CONDUTA (categórica): descrição da conduta
- DESCR_TIPOLOCAL (categórica): local da ocorrência
- DESCR_TIPO_PESSOA (categórica): classificação de pessoa (ex: vítima)
- SEXO_PESSOA (categórica): sexo da pessoa
- IDADE_PESSOA (continua): idade da pessoa

### 3) **(15%)** Faça uma avaliação descritiva da sua base. Quantas linhas ela possui? Quais os tipos de dados? Quantas e quais features possuem?

Cada variável escolhida pelo aluno precisa passar por ao menos 1 pré-processamento. O pré-processamento pode ser (mas não está limitado a):
- Checagem se os valores estão dentro de um limite permitido ou razoável.
- Tratamento de valores ausentes por eliminação ou substituição.
- Conversão do tipo de dados.

In [1]:
# Importação de bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Leitura do dataset
df = pd.read_csv("RDO_2.csv")
df.drop(df.columns[df.columns.str.contains("unnamed", case=False)], axis=1, inplace=True)
df.head()

/home/pedro/anaconda3/envs/pos-ds-ia-37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (22,23,24,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_DELEGACIA,NOME_DEPARTAMENTO,NOME_SECCIONAL,NOME_DELEGACIA,CIDADE,ANO_BO,NUM_BO,NOME_DEPARTAMENTO_CIRC,NOME_SECCIONAL_CIRC,NOME_DELEGACIA_CIRC,...,DESCR_SUBTIPOLOCAL,LOGRADOURO,NUMERO_LOGRADOURO,LATITUDE,LONGITUDE,DESCR_TIPO_PESSOA,FLAG_VITIMA_FATAL,SEXO_PESSOA,IDADE_PESSOA,COR_CUTIS
0,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,3,DECAP,DEL.SEC.8º SAO MATEUS,44º D.P. GUAIANAZES,...,Metrov. e ferroviário metrop.-acesso/escada/el...,ESTACAO GUAIANAZES - CPTM,0,-23.54398268,-46.4219843,Vítima,NaN,M,29,Branca
1,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,10,DECAP,DEL.SEC.3º OESTE,23º D.P. PERDIZES,...,Via pública ...,RUA JOAO RAMALHO,0,-23.54006897,-46.66791385,Vítima,NaN,F,41,Branca
2,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,21,DECAP,DEL.SEC.7º ITAQUERA,64º D.P. CID.AE CARVALHO,...,Metrov. e ferroviário metrop.-outros ...,AV DO CONTORNO,60,-23.53967047,-46.46252708,Vítima,NaN,M,29,Parda
3,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,37,DECAP,DEL.SEC.3º OESTE,23º D.P. PERDIZES,...,Metrov. e ferroviário metrop.-acesso/escada/el...,ESTACAO BARRA FUNDA - METRO,0,-23.53347685,-46.65267016,Vítima,NaN,M,39,Branca
4,10004,DIRD - DEPTO IDENT.REG.DIV,DIV.POL.PORTO/AERO/PROT.TURIS-DECADE,06º D.P. METROPOLITANO,S.PAULO,2013,43,DECAP,DEL.SEC.1º CENTRO,02º D.P. BOM RETIRO,...,Metrov. e ferroviário metrop.-acesso/escada/el...,ESTACAO LUZ/ESCADA ROLANTE,999,-23.53498802,-46.63984656,Vítima,NaN,F,34,Branca

In [3]:
# OBTENDO A QUANTIDADE DE REGISTROS E TIPOS DE DADOS
print("Quantidade de registros do DataFrame: {}".format(len(df)))
df.dtypes

Quantidade de registros do DataFrame: 1048575

ID_DELEGACIA                 int64
NOME_DEPARTAMENTO           object
NOME_SECCIONAL              object
NOME_DELEGACIA              object
CIDADE                      object
ANO_BO                       int64
NUM_BO                       int64
NOME_DEPARTAMENTO_CIRC      object
NOME_SECCIONAL_CIRC         object
NOME_DELEGACIA_CIRC         object
NOME_MUNICIPIO_CIRC         object
DESCR_TIPO_BO               object
DATA_OCORRENCIA_BO          object
HORA_OCORRENCIA_BO          object
DATAHORA_COMUNICACAO_BO    float64
FLAG_STATUS                 object
RUBRICA                     object
DESCR_CONDUTA               object
DESDOBRAMENTO               object
DESCR_TIPOLOCAL             object
DESCR_SUBTIPOLOCAL          object
LOGRADOURO                  object
NUMERO_LOGRADOURO           object
LATITUDE                    object
LONGITUDE                   object
DESCR_TIPO_PESSOA           object
FLAG_VITIMA_FATAL           object
SEXO_PESSOA                 object
IDADE_PESSOA                object
COR_CUTIS                   object
dtype: object

### **QUANTIDADE DE REGISTROS**

A base possui um total de 1.048.575 registros


### ** FEATURES **

A base possui um total de 30 features, onde:

* **ID_DELEGACIA** - inteiro
* **NOME_DEPARTAMENTO** - objeto
* **NOME_SECCIONAL** - objeto
* **NOME_DELEGACIA** - objeto
* **CIDADE** - objeto
* **ANO_BO** - inteiro
* **NUM_BO** - inteiro
* **NOME_DEPARTAMENTO_CIRC** - objeto
* **NOME_SECCIONAL_CIRC** - objeto
* **NOME_DELEGACIA_CIRC** - objeto
* **NOME_MUNICIPIO_CIRC** - objeto
* **DESCR_TIPO_BO** - objeto
* **DATA_OCORRENCIA_BO** - objeto
* **HORA_OCORRENCIA_BO** - objeto
* **DATAHORA_COMUNICACAO_BO** - ponto flutuante
* **FLAG_STATUS** - objeto
* **RUBRICA** - objeto
* **DESCR_CONDUTA** - objeto
* **DESDOBRAMENTO** - objeto
* **DESCR_TIPOLOCAL** - objeto
* **DESCR_SUBTIPOLOCAL** - objeto
* **LOGRADOURO** - objeto
* **NUMERO_LOGRADOURO** - objeto
* **LATITUDE** - objeto
* **LONGITUDE** - objeto
* **DESCR_TIPO_PESSOA** - objeto
* **FLAG_VITIMA_FATAL** - objeto
* **SEXO_PESSOA** - objeto
* **IDADE_PESSOA** - objeto
* **COR_CUTIS** - objeto

## **Limpeza de dados**

In [4]:
# REMOVENDO FEATURES QUE NÃO SERÃO UTILIZADAS NA ANÁLISE
df.drop(["ID_DELEGACIA", "NOME_DEPARTAMENTO", "NOME_SECCIONAL", "NOME_DELEGACIA", "NUM_BO", "NOME_DEPARTAMENTO_CIRC", "NOME_SECCIONAL_CIRC", "NOME_DELEGACIA_CIRC", "NOME_MUNICIPIO_CIRC", "DESCR_TIPO_BO", "DATA_OCORRENCIA_BO", "DATAHORA_COMUNICACAO_BO", "DESCR_SUBTIPOLOCAL", "LOGRADOURO", "NUMERO_LOGRADOURO", "LATITUDE", "LONGITUDE"], axis=1, inplace=True)
df.head()

,CIDADE,ANO_BO,HORA_OCORRENCIA_BO,FLAG_STATUS,RUBRICA,DESCR_CONDUTA,DESDOBRAMENTO,DESCR_TIPOLOCAL,DESCR_TIPO_PESSOA,FLAG_VITIMA_FATAL,SEXO_PESSOA,IDADE_PESSOA,COR_CUTIS
0,S.PAULO,2013,06:20,Consumado,Roubo (art. 157),OUTROS,NaN,Terminal/Estação,Vítima,NaN,M,29,Branca
1,S.PAULO,2013,06:10,Consumado,Roubo (art. 157),TRANSEUNTE,NaN,Via pública,Vítima,NaN,F,41,Branca
2,S.PAULO,2013,05:30,Consumado,"Furto qualificado (art. 155, §4o.)",OUTROS,NaN,Terminal/Estação,Vítima,NaN,M,29,Parda
3,S.PAULO,2013,12:05,Consumado,Furto (art. 155),OUTROS,NaN,Terminal/Estação,Vítima,NaN,M,39,Branca
4,S.PAULO,2013,05:50,Consumado,Roubo (art. 157),OUTROS,NaN,Terminal/Estação,Vítima,NaN,F,34,Branca

In [5]:
# PRECENTUAL DE ELEMENTOS NULOS
round(df.isnull().mean()*100,2)

CIDADE                 0.00
ANO_BO                 0.00
HORA_OCORRENCIA_BO    25.14
FLAG_STATUS            0.00
RUBRICA                0.00
DESCR_CONDUTA         19.10
DESDOBRAMENTO         93.39
DESCR_TIPOLOCAL        0.00
DESCR_TIPO_PESSOA      0.01
FLAG_VITIMA_FATAL     96.31
SEXO_PESSOA            0.01
IDADE_PESSOA           0.96
COR_CUTIS             23.62
dtype: float64

In [6]:
# RESOLVI REMOVER TAMBÉM AS FEATURES 'DESDOBRAMENTO', "COR_CUTIS" E 'FLAG_VITIMA_FATAL' POR TEREM UM PERCENTUAL DE ELEMENTOS NULOS ELEVADO
df.drop(["DESDOBRAMENTO", "FLAG_VITIMA_FATAL", "COR_CUTIS"], axis=1, inplace=True)
df.head()

,CIDADE,ANO_BO,HORA_OCORRENCIA_BO,FLAG_STATUS,RUBRICA,DESCR_CONDUTA,DESCR_TIPOLOCAL,DESCR_TIPO_PESSOA,SEXO_PESSOA,IDADE_PESSOA
0,S.PAULO,2013,06:20,Consumado,Roubo (art. 157),OUTROS,Terminal/Estação,Vítima,M,29
1,S.PAULO,2013,06:10,Consumado,Roubo (art. 157),TRANSEUNTE,Via pública,Vítima,F,41
2,S.PAULO,2013,05:30,Consumado,"Furto qualificado (art. 155, §4o.)",OUTROS,Terminal/Estação,Vítima,M,29
3,S.PAULO,2013,12:05,Consumado,Furto (art. 155),OUTROS,Terminal/Estação,Vítima,M,39
4,S.PAULO,2013,05:50,Consumado,Roubo (art. 157),OUTROS,Terminal/Estação,Vítima,F,34

**FEATURE 'ANO_BO'**

In [7]:
# CHECAGEM DE VALORES
df["ANO_BO"].value_counts()

2014    387385
2013    332657
2015    324949
2016      3491
2017        93
Name: ANO_BO, dtype: int64

In [8]:
# REMOVENDO DADOS DE 2016 E 2017 POIS A PROPOSTA É TRABALHAR APENAS COM OS ANOS 2013, 2014 E 2015

# ARMAZENANDO INDEX DOS REGISTROS DE 2016
drop_idx = df[df["ANO_BO"] == 2016].index

# ARMAZENANDO INDEX DOS REGISTROS DE 2017
drop_idx = drop_idx.append(df[df["ANO_BO"] == 2017].index)

# REMOVENDO REGISTROS
df.drop(drop_idx, inplace=True)

In [9]:
# NOVA CHECAGEM DE VALORES
df["ANO_BO"].value_counts()

2014    387385
2013    332657
2015    324949
Name: ANO_BO, dtype: int64

**FEATURE 'HORA_OCORRENCIA_BO'**

In [10]:
# CHECAGEM DE VALORES
df["HORA_OCORRENCIA_BO"].value_counts(dropna=False)

NaN      262231
20:00     18312
21:00     18072
22:00     16881
19:00     16425
          ...
06:01        13
04:02        12
04:21        10
05:09         6
15H50         2
Name: HORA_OCORRENCIA_BO, Length: 1442, dtype: int64

**FEATURE 'FLAG_STATUS'**

In [11]:
# CHECAGEM DE VALORES
df["FLAG_STATUS"].value_counts()

Consumado    1038394
Tentado         6597
Name: FLAG_STATUS, dtype: int64

**FEATURE 'RUBRICA'**

In [12]:
# CHECAGEM DE VALORES
df["RUBRICA"].value_counts()

Roubo (art. 157)                                                          472850
Furto (art. 155)                                                          285428
Lesão corporal (art. 129)                                                  83212
Furto qualificado (art. 155, §4o.)                                         78180
Lesão corporal culposa na direção de veículo automotor (Art. 303)          67969
Lesão corporal (art 129 § 9º)                                              20344
Homicídio simples (art. 121)                                                8952
A.I.-Roubo (art. 157)                                                       7703
A.I.-Lesão corporal (art. 129)                                              4287
Estupro de vulneravel (art.217-A)                                           3905
Lesão corporal culposa (art. 129. §6o.)                                     2956
Estupro (art.213)                                                           2141
Homicídio culposo na direção de veículo automotor (Art. 302)                1828
Homicídio qualificado (art. 121, §2o.)                                      1499
A.I.-Furto (art. 155)                                                       1152
A.I.-Furto qualificado (art. 155, §4o.)                                      681
A.I.-Estupro de vulneravel (art.217-A)                                       438
Lesão corporal de natureza GRAVE (art. 129, §1o.)                            349
A.I.-Lesão corporal culposa na direção de veículo automotor (Art. 303)       314
A.I.-Homicídio simples (art. 121)                                            174
A.I.-Lesão corporal (art 129 § 9º)                                           144
Homicídio culposo (art. 121, §3o.)                                           128
Furto de coisa comum (art. 156)                                              102
A.I.-Estupro (art.213)                                                        63
Lesão corporal  de natureza 'GRAVÍSSIMA' (art. 129, §2o.)                     47
A.I.-Homicídio qualificado (art. 121, §2o.)                                   44
Lesão corporal seguida de morte (art. 129, §3o.)                              38
A.I.-Lesão corporal culposa (art. 129. §6o.)                                  29
A.I.-Homicídio culposo na direção de veículo automotor (Art. 302)             17
A.I.-Lesão corporal de natureza GRAVE (art. 129, §1o.)                        12
A.I.-Furto de coisa comum (art. 156)                                           2
A.I.-Homicídio culposo (art. 121, §3o.)                                        2
A.I.-Lesão corporal  de natureza 'GRAVÍSSIMA' (art. 129, §2o.)                 1
Name: RUBRICA, dtype: int64

**FEATURE 'DESCR_CONDUTA'**

In [13]:
# CHECAGEM DE VALORES
df["DESCR_CONDUTA"].value_counts(dropna=False)

TRANSEUNTE                      274319
VEICULO                         216690
NaN                             199171
OUTROS                           88194
INTERIOR DE VEICULO              86647
INTERIOR TRANSPORTE COLETIVO     47979
RESIDENCIA                       43447
INTERIOR ESTABELECIMENTO         37465
ESTABELECIMENTO COMERCIAL        22108
CARGA                            15851
ESTABELECIMENTO BANCARIO          4541
ESTABELECIMENTO-OUTROS            4243
COLETIVO                          1657
ESTABELECIMENTO ENSINO            1135
CONDOMINIO RESIDENCIAL            1072
Saidinha de Banco                  234
CONDOMINIO COMERCIAL               143
Caixa Eletrônico                    78
JOALHERIA                           17
Name: DESCR_CONDUTA, dtype: int64

**FEATURE 'DESCR_TIPOLOCAL'**

In [14]:
# CHECAGEM DE VALORES
df["DESCR_TIPOLOCAL"].value_counts()

Via pública                                 619234
Outros                                      161769
Residência                                  112323
Comércio e serviços                          55518
Terminal/Estação                             18334
Estabelecimento bancário                     14441
Restaurante e afins                          12150
Lazer e recreação                             7731
Estabelecimento de ensino                     7580
Saúde                                         5505
Condominio Residencial                        4522
Shopping Center                               3247
Centro Comerc./Empresarial                    3023
Rodovia/Estrada                               2945
Hospedagem                                    2826
Area não ocupada                              2752
Escritório                                    2050
Entidade assistencial                         2044
Repartição Pública                            1776
Condominio Comercial                          1302
Templo e afins                                 974
Serviços e bens públicos                       819
Estabelecimento industrial                     671
Estabelecimento prisional                      655
Favela                                         279
Estrada de ferro                               200
Unidade rural                                  140
Local clandestino/ilegal                       108
Sindicato                                       64
Carro Forte                                      9
Name: DESCR_TIPOLOCAL, dtype: int64

**FEATURE 'SEXO_PESSOA'**

In [15]:
# REMOVENDO REGISTROS COM A  FEATURE 'SEXO_PESSOA' IGUAIS A NULO
total_registros = len(df)
df.dropna(subset=['SEXO_PESSOA'], inplace=True)
print('Total de registros removidos: {}'.format(total_registros - len(df)))

Total de registros removidos: 109

**FEATURE 'IDADE_PESSOA'**

- Resolvi trocar todos os atributos nulos e zerados pela média dos registros

In [16]:
# TRANSFORMANDO 'IDADE_PESSOA' EM NUMÉRICO
df["IDADE_PESSOA"] = df["IDADE_PESSOA"].apply(pd.to_numeric)

# VERIFICANDO SE POSSUI PESSOAS COM IDADE NEGATIVA
df[df["IDADE_PESSOA"] < 0]

,CIDADE,ANO_BO,HORA_OCORRENCIA_BO,FLAG_STATUS,RUBRICA,DESCR_CONDUTA,DESCR_TIPOLOCAL,DESCR_TIPO_PESSOA,SEXO_PESSOA,IDADE_PESSOA
341280,S.PAULO,2015,19:50,Consumado,Roubo (art. 157),ESTABELECIMENTO COMERCIAL,Comércio e serviços,Vítima,F,-40.0
542330,S.PAULO,2014,15:00,Consumado,Estupro de vulneravel (art.217-A),NaN,Residência,Criança,M,-1.0

In [17]:
# VERIFICANDO SE POSSUI PESSOAS COM IDADE MAIOR QUE 120 ANOS
len(df[df["IDADE_PESSOA"] > 120])

86

In [18]:
# ARMAZENANDO INDEX DOS REGISTROS QUE POSSUEM 'PESSOA_IDADE' NEGATIVA
drop_idx = df[df["IDADE_PESSOA"] < 0].index

# ARMAZENANDO INDEX DOS REGISTROS QUE POSSUEM 'PESSOA_IDADE' MAIORES QUE 120
drop_idx = drop_idx.append(df[df["IDADE_PESSOA"] > 120].index)

In [19]:
# PREENCHIMENTO DE VALORES DA FEATURE 'IDADE_PESSOA' UTILIZANDO A MÉDIA DO ATRIBUTO

# REMOVENDO REGISTROS COM VALORES DE 'IDADE_PESSOA' NEGATIVOS OU MAIORES QUE 120
df.drop(drop_idx, inplace=True)

# OBTENDO MÉDIA DOS VALORES NÃO NULOS E NÃO ZERADOS
df_aux = df[df["IDADE_PESSOA"] != 0]
med = round(df_aux["IDADE_PESSOA"].mean())

# PREENCHENDO VALORES NULOS E ZERADOS DE 'IDADE_PESSOA'
df[["IDADE_PESSOA"]] = df[["IDADE_PESSOA"]].fillna(value=med)
df[["IDADE_PESSOA"]] = df[["IDADE_PESSOA"]].replace(0, med)

In [20]:
# PRECENTUAL DE ELEMENTOS NULOS
round(df.isnull().mean()*100,2)

CIDADE                 0.00
ANO_BO                 0.00
HORA_OCORRENCIA_BO    25.08
FLAG_STATUS            0.00
RUBRICA                0.00
DESCR_CONDUTA         19.06
DESCR_TIPOLOCAL        0.00
DESCR_TIPO_PESSOA      0.00
SEXO_PESSOA            0.00
IDADE_PESSOA           0.00
dtype: float64

In [21]:
# CONVERSÃO DE DADOS DAS FEATURES 'ANO_BO' E 'IDADE_PESSOA' PARA INTEIRO
df["ANO_BO"].astype('int', copy=False)
df["IDADE_PESSOA"] = df["IDADE_PESSOA"].astype('int')
df.dtypes

CIDADE                object
ANO_BO                 int64
HORA_OCORRENCIA_BO    object
FLAG_STATUS           object
RUBRICA               object
DESCR_CONDUTA         object
DESCR_TIPOLOCAL       object
DESCR_TIPO_PESSOA     object
SEXO_PESSOA           object
IDADE_PESSOA           int64
dtype: object

### 4) **(60%)** Nos blocos seguintes construa análises que vão justificar suas conclusões.

#### 4.1) **(20%)** Análise 1 -  Distribuição dos valores para cada uma das variáveis
- Exemplo para variável contínua: se o conjunto de dados possui a variável "idade". Quantos % possui a idade entre 0 e 30 anos? 31 a 59? 60+?

- Exemplo para variável discreta: se o conjunto de dados possui a variável "gênero", quantos % do conjunto de dados é do sexo feminino, quantos % é masculino? Inclua outros gêneros se houver.

In [ ]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.2) **(20%)** Análise 2 - Dependência entre variáveis
O aluno deve apresentar as mesmas distribuições para cada valor da variável dependente. Exemplo: Em um conjunto de dados em que as variáveis independentes são idade e sexo, e a variável dependente é renda. O aluno pode dividir a renda em 3 "grupos", <1000 reais, entre 1000 e 10000 reais e >1000 reais. Para cada um desses grupos, é necessário apresentar a distribuição das variáveis "idade" e "sexo".

In [ ]:
# Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

#### 4.3) **(20%)** Análise 3 - Correlação entre variáveis

O aluno deve apresentar 3 análises de correlação entre variáveis do conjunto de dados trabalhado. Exemplo: Em um conjunto de dados com as informações de temperatura e ocorrência de incêndios, eu gostaria de saber a incidência de correlação entre as duas variáveis.

In [ ]:
# Primeiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [ ]:
# Segundo par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

In [ ]:
# Terceiro par de variáveis: Implemente sua análise aqui. Use mais blocos se achar que ficará mais organizado.

### 5) Conclusões **15%**

*O que é possível concluir com os dados que você analisou? Se fosse fazer uma apresentação, o que levaria como os maiores destaques e por que?*